@import url('https://fonts.googleapis.com/css2?family=Crete+Round&family=Inter:wght@100&family=Poppins:wght@100&family=Roboto:wght@100&display=swap');

body {
  margin: 0;
  padding: 0;
  min-width: 375px;
  max-width: 768px;
  background: #1c1a19;
}

/* nav container */

header {
  background: #3e3c3c;
  height: 48px;
}

.navContainer {
  background: #3e3c3c;
  height: 48px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 48px;
}

nav ul {
  display: flex;
}

nav .logo {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 1em;
  margin: 6.4% 3.2% 6.4% 3.2%;
  color: #fff;
}

nav .navMenu {
  margin: 6.4% 3.2% 6.4% 3.2%;
}

.navItems {
  opacity: 0;
}

form li {
  width: 100%;
  margin-bottom: 10.66%;
}

.navItems li {
  list-style: none;
  margin-right: 30%;
}

.navMenu li {
  list-style: none;
}

.languagesItems li {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 2.66% 3.2%;
  border: 1px solid #8993a4;
}

.languagesItems_2 li {
  border: none;
  background: rgba(255, 255, 255, 0.24);
}

.catWrapper li {
  list-style: none;
}

.navItems li:nth-last-of-type(1) {
  margin: 6.4% 3.2% 6.4% 3.2%;
}

.headlineSocial a {
  padding: 2.13%;
}

.navItems li a {
  font-family: 'Inter', sans-serif;
  font-size: 0.95em;
  color: #fff;
  text-decoration: none;
}

/* headline container */

section {
  background: #1c1a19;
  display: flex;
  align-items: center;
  padding: 32% 6.4%;
}

.mainHeadline {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.mainHeadline h1 {
  font-family: 'Crete Round', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: 0.37px;
  color: #f55800;
}

form span {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  text-align: center;
  color: #172b4d;
  margin-bottom: 31.73%;
}

.mainHeadline span {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  display: flex;
  align-items: center;
  color: #fff;
}

.mainHeadline p {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #f4f5f7;
}

/* Social icons */

.headlineSocial {
  display: flex;
  align-items: center;
}

.worksCard img {
  width: 100%;
}

.mainHeadline .headlineImage img {
  position: absolute;
  top: 60.5%;
  left: 70%;
}

.mainAbout .aboutImage img {
  position: absolute;
  right: -9%;
  top: 429%;
}

.mainHeadline .headlineImage img:hover {
  transform: matrix(-0.96, 0.27, 0.27, 0.96, 0, 0);
}

/* message and menu buttons */

.navBtnMessage {
  display: flex;
  position: relative;
}

.navBtnMessage .messageBtn {
  opacity: 0;
  pointer-events: auto;
}

.navBtnMessage.active .messageBtn {
  pointer-events: none;
}

.navBtnMessage .menuBtn {
  opacity: 0;
  pointer-events: none;
}

.navBtnMessage.active .menuBtn {
  opacity: 1;
  pointer-events: auto;
}

/* works container */

.works {
  background: #fff;
}

.worksCard {
  flex: grid;
}

.mainWorks {
  display: grid;
  align-items: left;
  padding: 32% 6.4% 6.4% 6.4%;
}

.mainWorks h1 {
  font-family: 'Crete Round', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
  color: #1c1a19;
}

.mainWorks .workslineTop {
  border: 1px solid #212121;
  margin-top: 6.4%;
  margin-bottom: 21.3%;
}

.mainWorks .worksCard {
  display: flex;
  flex-direction: column;
  margin-top: 6.4%;
  padding: 0;
}

.rightBlock {
  flex: grid;
  padding-left: 4.2%;
}

.worksCard span {
  font-family: 'Crete Round', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  display: table;
  margin-top: 6.4%;
  margin-right: 5%;
  color: #091e42;
}

.worksCard_2 span {
  color: #fff;
}

.worksCard p {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #091e42;
}

.worksCard_2 p {
  color: #fff;
}

.worksCard_2 {
  background: linear-gradient(180.45deg, rgba(38, 38, 38, 0) 0.75%, rgba(38, 38, 38, 0.9) 61.94%), url("./images/placeholderCard2.png");
}

form ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  gap: 24px;
  justify-content: center;
  list-style: none;
}

.worksLanguages ul {
  display: flex;
  flex-direction: row;
  justify-content: left;
  padding: 0;
  gap: 12px;
}

.languagesItems li a {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #091e42;
  text-decoration: none;
}

.languagesItems_2 li a {
  color: #fff;
}

.worksBtnSee {
  background-color: #ff6b00;
  padding: 3.2%;
  width: max-content;
  list-style: none;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  color: #fff;
  text-decoration: none;
}

.worksBtnSee_2 {
  background-color: #ff6b00;
  padding: 3.2%;
  list-style: none;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  color: #fff;
  text-decoration: none;
  text-align: center;
}

.worksBottom li a {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: #fff;
  text-decoration: none;
}

/* About container */

.about {
  display: flex;
  flex-direction: column;
  background: #1c1a19;
  align-items: center;
  padding: 32% 6.4%;
}

.aboutContent {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
}

.mainAbout h1 {
  font-family: 'Crete Round', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 72px;
  line-height: 122%;
  letter-spacing: 0.37px;
  color: #ff6b00;
}

.mainAbout p {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #f4f5f7;
}

.resumeBtn {
  background-color: #ff6b00;
  padding: 3.2%;
  width: max-content;
  list-style: none;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  color: #fff;
  text-decoration: none;
  margin-bottom: 33.28%;
}

.mainAbout .aboutImage img:hover {
  transform: matrix(-0.96, 0.27, 0.27, 0.96, 0, 0);
}

.about .separator {
  border: 1px solid #fff;
  margin-top: 10%;
}

.categories {
  display: flex;
  flex-direction: column;
  padding-top: 34.1%;
}

.categories ul {
  text-align: center;
}

.catWrapper li span {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 43px;
  color: #fff;
}

li .catTitle {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 2.13% 3.2%;
  gap: 12px;
}

li .catTitle span {
  font-family: 'Crete Round', serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #fff;
  text-decoration: none;
  list-style: none;
}

/**form section */

form {
  display: flex;
  flex-direction: column;
  padding: 18.4% 6.4%;
  background-color: #fff;
}

form li input {
  border-width: 0 0 1px 0;
  border-style: solid;
  width: 100%;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  padding: 3.73%;
  box-sizing: border-box;
  color: #979493;
}

form li textarea {
  font-family: 'Inter', sans-serif;
  font-style: italic;
  border: none;
  background-color: #fbf8f7;
  width: 100%;
  padding: 3.2%;
  box-sizing: border-box;
}

input:focus,
textarea:focus {
  outline: 1px solid #979493;
}
