.main {
  width: 100vw;
  height: 100vh;
  display: flex;
  padding: 0;
  overflow-x: hidden;
  background-color: #fafafa;
  justify-content: center;
  align-items: flex-start;
}

.main-container {
  width: 100%;
  background-color: #f5f5f5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main_home {
  background-color: #f5f5f5;
}

section {
  width: 100%;
  background-color: #f5f5f5;
  max-width: 765px;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
