.about-main {
  width: 100%;
  padding: 9% 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  background-color: #fff;
  color: var(--backColor);
  font-size: 17px;
}

#about-title {
  color: var(--fontpurple);
  font-size: 21px;
}

#about-subtitle {
  font-size: 17px;
}

.about-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5%;
}

.about-main span {
  font-weight: 700;
  font-size: 19px;
}

#about-presentation {
  width: 79%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  box-sizing: border-box;
  margin-bottom: 5%;
}

#about-skills {
  width: 79%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  box-sizing: border-box;
}

#about-skills ul {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0;
  box-sizing: border-box;
  margin: 2% 0;
}

#about-skills ul li {
  margin-right: 3%;
  padding: 1% 3%;
  list-style: none;
  background-color: #e9e9e9;
  width: auto;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media (min-width: 768px) {
  .about-main {
    padding: 6% 0;
  }

  .about-content {
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
  }

  #about-presentation {
    width: 35%;
    margin: 0 5% 0 0;
  }

  #about-skills {
    width: 35%;
  }

  #about-skills ul {
    align-items: flex-start;
  }
}
