:root {
  --fontBlack: #363636;
}

.contact-main {
  width: 100%;
  padding: 5% 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  background-color: var(--backColor);
  color: #fff;
  font-size: 21px;
}

.contact-main h2 {
  color: var(--fontpurple);
  font-size: 21px;
  margin-bottom: 7%;
}

.contact-left span {
  width: 80%;
  text-align: left;
  font-size: 17px;
  margin-bottom: 7%;
}

.contact-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

.contact-left {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-mobile {
  width: 80%;
  border-radius: 5px;
  color: var(--fontBlack);
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #fff;
  box-sizing: border-box;
  padding: 2%;
  margin-bottom: 7%;
}

.mobileEmail {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

form {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  box-sizing: border-box;
}

form label {
  width: 100%;
  font-size: 17px;
  text-align: left;
}

#message {
  height: 90px;
}

.contact-input {
  width: 100%;
  margin-bottom: 5%;
  padding: 2%;
  border: none;
  outline: none;
  color: #d1d1d1;
  font-size: 17px;
  border-radius: 11px;
  box-sizing: border-box;
  background-color: #44474d;
}

.contact-submit-btn {
  margin-top: 2%;
  border-radius: 11px;
  background-color: var(--fontpurple);
  font-size: 19px;
  padding: 1% 6%;
  border: none;
  transition: all 0.3s ease-in-out;
}

.contact-submit-btn:hover {
  padding: 2% 7%;
  background-color: #8b9de8;
  color: #363636;
}

.contact-right {
  display: none;
}

.contact-right span {
  font-size: 17px;
}

#contact-emailUp {
  font-size: 19px;
  font-weight: 700;
  margin: 0;
}

.contact-social {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.contact-social a {
  cursor: pointer;
  text-decoration: none;
  margin: 30% 0;
}

.social-link:visited {
  color: #000;
}

@media (min-width: 768px) {
  .contact-main {
    padding: 3% 0;
  }

  .contact-content {
    width: 85%;
    flex-direction: row;
  }

  .contact-main h2 {
    margin-bottom: 3%;
  }

  .contact-mobile {
    display: none;
  }

  .contact-left {
    width: 55%;
    align-items: flex-start;
  }

  form {
    align-items: flex-start;
  }

  .contact-social {
    flex-direction: row;
    justify-content: flex-start;
    width: 50%;
    margin-top: 15%;
  }

  .contact-social a {
    margin: 0 21% 0 0;
  }

  .social-link:visited {
    color: #fff;
  }

  .contact-right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}
