:root {
  --backColor: #181d2b;
  --fontBlack: #363636;
  --fontpurple: #5a79f3;
}

.head-main {
  width: 100%;
  padding-top: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  background-color: var(--backColor);
  color: #fff;
  font-size: 19px;
}

#head-presentation {
  width: 37%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#head-presentation span {
  text-align: left;
}

.head-cart {
  width: 39%;
}

#head-photo {
  display: flex;
  justify-content: flex-start;
  width: 37%;
  border: #5a79f3 solid 5px;
}

#head-photo ul {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  border: #5a79f3 solid 5px;
}

#head-photo ul li {
  width: 90%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #fff;
  color: var(--fontBlack);
  margin-bottom: 5%;
  padding: 4% 3%;
  border-radius: 9px;
  font-weight: 700;
  font-size: 17px;
  list-style: none;
}

.head-plus {
  color: var(--fontpurple);
  margin-right: 2%;
}

#head-name {
  font-size: 25px;
  color: var(--fontpurple);
  font-weight: 900;
}
