:root {
  --backColor: #181d2b;
  --fontBlack: #363636;
  --fontpurple: #5a79f3;
}

.head-main {
  width: 100%;
  padding: 9% 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  background-color: var(--backColor);
  color: #fff;
  font-size: 21px;
}

#head-presentation {
  width: 79%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 9%;
  font-size: 33px;
}

#head-presentation #head-hello {
  text-shadow: -1px 0 #fff, 0 1px #fff, 1px 0 #fff, 0 -1px #fff;
  color: var(--backColor);
}

#head-presentation span {
  text-align: left;
  font-weight: 700;
}

.head-cart {
  width: 39%;
}

.head-social {
  display: flex;
  justify-content: flex-start;
  width: 50%;
  margin-top: 9%;
}

.head-social a {
  margin-right: 11%;
  cursor: pointer;
  text-decoration: none;
}

.head-link:visited {
  color: #fff;
}

#head-photo {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 79%;
}

.head-imgDiv {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: flex-start;
}

.head-imgSocial {
  margin-top: 3%;
  width: 50%;
}

.head-myPic {
  width: 11%;
}

.head-mySocial {
  width: 53%;
  margin-right: 0;
}

#head-photo ul {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding-left: 0;
}

#head-photo ul li {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  color: var(--fontBlack);
  margin-bottom: 5%;
  padding: 4% 3%;
  border-radius: 9px;
  font-weight: 700;
  font-size: 17px;
  text-align: left;
  list-style: none;
}

.head-plus {
  color: var(--fontpurple);
  margin-right: 5%;
}

#head-name {
  font-size: 35px;
  color: var(--fontpurple);
  font-weight: 900;
}

@media (min-width: 768px) {
  .head-main {
    width: 100%;
    padding: 9% 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  #head-presentation {
    width: 49%;
    margin: 0 1% 0 0;
  }

  #head-photo {
    width: 21%;
  }
}
