:root {
  --backColor: #181d2b;
  --fontBlack: #363636;
  --fontpurple: #5a79f3;
}

nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 700;
  color: #fff;
  height: 48px;
  background-color: var(--backColor);
  box-sizing: border-box;
  position: sticky;
  top: 0;
  z-index: 1;
}

nav ul {
  width: 100%;
  height: 48px;
  display: flex;
  padding: 1%;
  justify-content: flex-start;
  align-items: center;
  box-sizing: border-box;
}

#nav-rigth {
  display: none;
  justify-content: flex-end;
}

#nav_cartoon {
  display: flex;
}

nav ul li {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10%;
  padding: 1% 4%;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
}

.active {
  color: var(--fontpurple);
}

.dropdown-menu li a {
  display: flex; /* Display links as blocks for vertical stacking */
  padding: 0.5rem 1rem; /* Add spacing between links */
  text-decoration: none; /* Remove underlines from links */
  color: var(--backColor);
  width: 50%;
  align-items: center;
}

nav ul li a:hover {
  color: var(--fontpurple);
}

nav ul .nav_left {
  width: 6%;
  border-radius: 50px;
  justify-content: flex-start;
  align-items: center;
}

#nav-ham {
  display: flex;
  justify-content: flex-end;
}

#nav_name {
  display: none;
}

.dropdown-container {
  position: fixed; /* Stay in place even when scrolling */
  top: 0; /* Start at the top of the viewport */
  right: 0; /* Align to the left */
  width: 100%; /* Cover the full width */
  height: 100%;
  padding-top: 48px;
  background-color: #3636369b;
  box-sizing: border-box;
  z-index: 999;
}

.dropdown-menu {
  width: 100%;
  height: 100%;
  background-color: #fff;
  border-top-left-radius: 11px;
  border-top-right-radius: 11px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.dropdown-menu li {
  padding: 0.5rem 1rem; /* Add spacing between links */
  border-bottom: solid 1px var(--fontBlack);
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

#dropdown-top {
  display: flex;
  justify-content: space-between;
  padding: 1% 1%;
}

#dropdown-top img {
  width: 6%;
}

#dropdown-top button,
#dropdown-top button:hover {
  background: none;
  border: none;
}

.dropdown-menu li:last-child {
  justify-self: flex-end;
  align-self: center;
  width: 30%;
  margin-left: 12%;
  border-bottom: solid 5px var(--fontBlack);
  margin-top: auto;
  margin-bottom: 5%;
}

.drop-icon {
  margin-right: 7%;
}

@media (min-width: 768px) {
  #nav-ham {
    display: none;
  }

  #nav-rigth {
    display: flex;
    justify-content: flex-end;
  }

  #nav_cartoon {
    display: none;
  }

  #nav_name {
    display: flex;
  }

  .dropdown-container {
    display: none;
  }
}
