:root {
  --backColor: #181d2b;
  --fontBlack: #363636;
  --fontpurple: #5a79f3;
}

nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  height: 48px;
  background-color: var(--backColor);
}

nav ul {
  width: 100%;
  height: 48px;
  display: flex;
  padding: 1%;
  justify-content: flex-start;
  align-items: center;
  box-sizing: border-box;
}

#nav-rigth {
  display: none;
  justify-content: flex-end;
}

#nav_cartoon {
  display: flex;
}

nav ul li {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10%;
  padding: 1% 4%;
}

nav ul li a:hover {
  color: var(--fontpurple);
}

nav ul .nav_left {
  width: 6%;
  border-radius: 50px;
  justify-content: flex-start;
  align-items: center;
}

#nav-ham {
  display: flex;
  justify-content: flex-end;
}

#nav_name {
  display: none;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
}

@media (min-width: 768px) {
  #nav-ham {
    display: none;
  }

  #nav-rigth {
    display: flex;
    justify-content: flex-end;
  }

  #nav_cartoon {
    display: none;
  }

  #nav_name {
    display: flex;
  }
}
