:root {
  --backColor: #181d2b;
  --fontBlack: #363636;
  --fontpurple: #5a79f3;
}

.projects-main {
  padding: 5% 0;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.projects-main h2 {
  color: var(--fontpurple);
  font-size: 21px;
}

.projects-list {
  width: 80%;
  display: flex;
  justify-content: center;
}

.projects-filter {
  width: 80%;
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 3%;
  margin-bottom: 3%;
}

.projects-filter button {
  border: none;
}

.projects-filter button:focus {
  outline: none;
}

.react-multi-carousel-list {
  width: 100%;
  display: flex;
  align-items: center;
  overflow: hidden;
  position: relative;
}

.react-multi-carousel-list li {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  background-color: var(--fontpurple);
  margin-right: 2%;
  border-radius: 5px;
  padding: 1%;
}

#itemProjectBtn {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: #000000bd;
  padding: 0;
}

.project-tech li {
  border: #fff solid 1px;
  color: #fff;
  padding: 1% 4%;
}

#backProjectItem {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  display: none;
}

.react-multi-carousel-list li:hover {
  padding: 0;

  #backProjectItem {
    display: flex;
  }

  #itemContent {
    display: none;
  }
}

.project-item {
  width: 100%;
  height: 100%;
}

#itemProjectBtn a {
  text-decoration: none;
  padding: 2% 0;
  border: #738bee solid 2px;
  border-radius: 5px;
  background-color: #0000;
  color: #fff;
  width: 70%;
  font-weight: 700;
}

#itemProjectBtn a:hover {
  background-color: #fff;
  color: var(--fontBlack);
  border-color: #fff;
}

.project-item span {
  color: #fff;
  font-size: 19px;
}

.project-item img {
  width: 100%;
  border-radius: 5px;
  margin: 2% 0;
}

.project-tech {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  box-sizing: border-box;
  padding: 0;
}
