:root {
  --backColor: #181d2b;
  --fontBlack: #363636;
  --fontpurple: #5a79f3;
}

.projects-main {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.projects-main h2 {
  color: var(--fontpurple);
  font-size: 21px;
}

.projects-list {
  width: 80%;
  display: flex;
  justify-content: center;
}

.react-multi-carousel-list {
  width: 100%;
  display: flex;
  align-items: center;
  overflow: hidden;
  position: relative;
  border: #5a79f3 solid 5px;
}

.projects-filter {
  width: 80%;
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 3%;
  margin-bottom: 3%;
  border: #5a79f3 solid 5px;
}

.projects-filter button {
  border: none;
}

.projects-filter button:focus {
  outline: none;
}
